
<div  class="pizz">
<h1>ORDERS</h1>
<table>

        {{#each actions}}

        <tr>
            <td>{{orderId}}</td>
            <td>{{status}}</td>
            <td>{{amount}}</td>
        </tr>
        {{/each}}
    </table>

</div>

